html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark: #353945;
  --pink: #d62e6a;
}

body {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  min-width: 690px;
}

aside {
  background: var(--dark);
  height: 100vh;
  min-width: 220px;
}

.aside__logo {
  width: 50px;
  height: 50px;
}

.aside__cta {
  border-radius: 50px;
  border-width: 0px;
  border-color: var(--pink);
  background: var(--pink);
  color: white;
  height: 2.5rem;
  width: 10rem;
}

.w-90 {
  width: 90%;
}

a:hover,
a:active {
  color: var(--pink) !important;
  font-weight: 700;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 83px;
  background: var(--dark);
}

nav a {
  color: white !important;
}

.main__content {
  color: black;
}

.mx-6 {
  margin-left: 6em;
  margin-right: 6em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.section__item {
  color: white;
  align-items: center;
  height: 1.5em;
  max-width:900px ;
}
.section__item > * {
  margin-right: 2em;
}
.w-auto {
  width: fit-content;
}
